<h3>Добро пожаловать на сайт Перинатального центра республики Карелия</h3>
<em>Наш Перинатальный  центр является крупным лечебно-профилактическим учреждением Республики Карелии, оснащенный новейшим лечебно-диагностическим оборудованием.
<br><br>
Штат сотрудников состоит из высококвалифицированного медицинского персонала. 
<br><br>
Высокое качество лечебно-диагностической, консультативной, реабилитационной и профилактической помощи, профессионализм врачей, акушерок и медицинских сестер, внимательное отношение к проблемам здоровья людей создали нашему центру отличную репутацию среди пациентов Северо-Западного федерального округа
<br><br>
Главными задачами учреждения являются оказание специализированной, в том числе высокотехнологичной медицинской помощи беременным, роженицам и новорожденным; оказание консультативной лечебно-диагностической помощи медицинским учреждениям Республики Карелия; снижение младенческой смертности и заболеваемости; снижение детской инвалидности; проведение санитарно-просветительной работы среди населения.
</em>
<p>
<div>Главный корпус: Сыктывкарская д.9, <a href="tel:88142333111">8 (8142) 333-111</a>, <a href="mailto:rpc@zdrav10.ru">rpc@zdrav10.ru</a></div>
<div>Женская консультация: Кирова д.15, <a href="tel:88142599994">8 (8142) 59-99-94</a>, <a href="mailto:rpc@zdrav10.ru">rpc@zdrav10.ru</a></div>
</p>