<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en"><!--<![endif]-->
<head>
{% include _head.html %}
</head>

<body class="department" itemscope itemtype="http://schema.org/WebPage">

{% include _browser-upgrade.html %}
{% include _navigation.html %}

<div id="main" role="main"  itemprop="mainContentOfPage">
    <div class="article-author-side">
      {% include _left-container.html %}
    </div>
    <article itemscope itemtype="http://schema.org/CreativeWork">
      <h1 itemprop="name">{{ page.title }}</h1>
      <div class="article-wrap" itemprop="text">


{% assign this_department = page.path | split: '/' | last | replace: ".md", "" %}

<div class="link-page">
<a href="#contacts">Контакты</a>
{% if page.docs %}<a href="#docs">Документы</a>{% endif %}
<a href="#staff">Сотрудники</a>
</div>

<!-- Описание отделения -->
<div class="department-content">{{ content }}</div>

<!-- {{ content }} -->
{% if page.contacts %}<div id="contacts" class="otdelenie-contacts-container"><h4>Контакты</h4><div class="otdelenie-contacts">{{ page.contacts}}</div></div>{% endif %}

<!-- {% assign filtered_staff = site.staff | where: 'otdelenie', this_department | sort: 'order'%}
{% for staff in filtered_staff %}
<h3>{{ staff.title | upcase }}</h3>
<img src="{{site.url}}{{staff.foto}}">
<h4>{{ staff.position }}</h4>
{{ staff.content | markdownify }}
{% endfor %} -->

<!-- Документы отделения -->
{% if page.docs.size > 0 %}
<h4 id="docs">Документы отделения</h4>
{% endif %}
<ui>
{% for doc in page.docs %}
<li><a {% if doc[1] contains '/uploads/' %}target="_blank"{% endif %} href="{{ doc[1] }}">{{ doc[0] }}</a></li>
{% endfor %}
</ui>

  {% assign doctor = false %}
  {% assign filtered_staff = site.staff | sort: 'order' %}
  {% for staff in filtered_staff %}
  {% assign pp = staff.path | split: '/' %}
  {% if doctor == false and pp[1] == this_department and pp[2] == 'doctor' %}
  {% assign doctor = true %}
  <!-- Таблица с врачами -->
  <h4 id="staff">Врачи отделения</h4>
  <table class="tbl-staff" border="1">
    <thead>
      <tr>
        <th>Сотрудник</th>
        <th>Должность</th>
        <th>Уровень образования</th>
        <th>Оганизация, выдавшая документ об образовании</th>
        <th>Год выдачи</th>
        <th>Специальность</th>
        <th>Квалификация</th>
        <th>Специальность (сертификат/ аккредитация)</th>
        <th>Срок действия (сертификат/ аккредитация)</th>
      </tr>
      </thead>
      <tbody>
  {% endif %}
  {% if pp[1] == this_department and pp[2] == 'doctor' %}
  <tr><td data-label="Сотрудник">{{ staff.title }}</td><td data-label="Должность">{{ staff.position }}</td><td data-label="Уровень образования">{{ staff.education.basic.level }}</td><td data-label="Оганизация, выдавшая документ об образовании">{{ staff.education.basic.org }}</td><td data-label="Год выдачи">{{ staff.education.basic.date }}</td><td data-label="Специальность">{{ staff.education.basic.speciality }}</td><td data-label="Квалификация">{{ staff.education.basic.qualification }}</td><td data-label="Специальность (сертификат/ аккредитация)">{{ staff.education.additional.speciality }}</td><td data-label="Срок действия (сертификат/ аккредитация)">{{ staff.education.additional.date }}</td></tr>
  {% endif %}
  {% endfor %}
  {% if doctor == true %}
  </tbody></table>
  {% endif %}

  {% assign other = false %}
  {% for staff in filtered_staff %}
  {% assign pp = staff.path | split: '/' %}
  {% if other == false and pp[1] == this_department and pp[2] != 'doctor' %}
  {% assign other = true %}
  <!-- Таблица с остальным мед. персоналом -->
  <h4>Средний медицинский персонал отделения</h4>
  <table class="tbl-staff" border="1">
    <thead>
      <tr>
        <th>Сотрудник</th>
        <th>Должность</th>
        <th>Уровень образования</th>
        <th>Оганизация, выдавшая документ об образовании</th>
        <th>Год выдачи</th>
        <th>Специальность</th>
        <th>Квалификация</th>
        <th>Специальность (сертификат/ аккредитация)</th>
        <th>Срок действия (сертификат/ аккредитация)</th>
      </tr>
      </thead>
      <tbody>
  {% endif %}
  {% if pp[1] == this_department and pp[2] != 'doctor' %}
  <tr><td data-label="Сотрудник">{{ staff.title }}</td><td data-label="Должность">{{ staff.position }}</td><td data-label="Уровень образования">{{ staff.education.basic.level }}</td><td data-label="Оганизация, выдавшая документ об образовании">{{ staff.education.basic.org }}</td><td data-label="Год выдачи">{{ staff.education.basic.date }}</td><td data-label="Специальность">{{ staff.education.basic.speciality }}</td><td data-label="Квалификация">{{ staff.education.basic.qualification }}</td><td data-label="Специальность (сертификат/ аккредитация)">{{ staff.education.additional.speciality }}</td><td data-label="Срок действия (сертификат/ аккредитация)">{{ staff.education.additional.date }}</td></tr>
  {% endif %}
  {% endfor %}
  {% if other == true %}
  </tbody></table>
  {% endif %}



</div><!-- /.article-wrap -->
</article>
</div><!-- /#index -->


<div class="footer-wrap">
    <footer>
      {% include _footer.html %}
    </footer>
  </div><!-- /.footer-wrap -->
  
{% include _scripts.html %}
  
{% include _scripts_bvi.html %}

</body>
</html>